<div class="row">
    <p>
        This is not an exhaustive list but just a few examples of projects where I played a major role and either did
        management or wrote a significant
        proportion of the code that makes the app work. Some of these are my own projects made from the ground up by
        myself following a plan I outlined
        and based on meeting my own need or my own market research.
    </p>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/tripoli.png" alt="Tripoli screenshot" />
            <div class="card-body">
                <h3>Tripoli</h3>
                <p class="card-text">
                    Next generation open source successor to Viu Calibrate that I'm working on. With a core written in
                    Rust and support for multiple
                    frontends, it will revolutionize datalogging and machine control. Contact me if you wish to be part
                    of this!
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/viu.png" alt="Viu Calibrate screenshot" />
            <div class="card-body">
                <h3>Viu Calibrate</h3>
                <p class="card-text">
                    Cross-platform high performance datalogging and machine control software used in labs around the
                    world to calibrate mission-critical
                    and medical packaging machinery. I made this because I wasn't satisfied with existing software at
                    the time.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/trip.png" alt="Trip Music screenshot" />
            <div class="card-body">
                <h3>Trip Music</h3>
                <p class="card-text">
                    AI-based personalized therapeutic radio app. I managed the development of every part of this app,
                    making high-performance real-time audio code
                    as well as python-based machine learning-based playlisting.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/ditty.png" alt="Ditty by Zya screenshot" />
            <div class="card-body">
                <h3>Ditty by Zya</h3>
                <p class="card-text">
                    Ditty was an app that turned your texts into singing music videos based on popular and classic songs
                    launched in 2015. It repurposed audio tech
                    we had made for Song Battles, speech synthesizers and syllable alignment tech.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/zya.png" alt="Zya Music screenshot" />
            <div class="card-body">
                <h3>Song Battles</h3>
                <p class="card-text">
                    Song Battles and Zya were music-making games. You could drum beats or sing melodies into it and it
                    would confirm the whole mix to your chord progression.
                    I worked extensively on the servers where the audio and music magic happens.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/craft.png" alt="CRÆFT Softsynth screenshot" />
            <div class="card-body">
                <h3>CRÆFT Softsynth</h3>
                <p class="card-text">
                    My first major software project, a surround-sound modular software synthesizer where location of
                    outputs could be modulated like any other parameter.
                    Functionality from this has been in the process of migrating to my open source api, grig.
                </p>
            </div>
        </div>
    </div>
</div>